*{
	font-family: 'Lato', sans-serif;
}
/*Color classes*/
.bg-red{
	background-color:#d81159 !important;
}
.bg-yellow{
	background-color:#ffbc42 !important;
}
.bg-blue{
	background-color:#0496ff !important;
}
.bg-dark{
	background-color:#006ba6 !important;
}
.bg-purple{
	background-color:#661166 !important;
}
.bg-primary{
	background-color:#0496ff !important;
}
.color-red{
	color:#d81159;
}
.color-yellow{
	color:#ffbc42;
}
.color-blue{
	color:#0496ff;
}
.color-dark{
	color:#006ba6;
}
.color-purple{
	color:#661166;
}
#pageBody{
	background-color:#EDF5F8;
	transition: margin-left .5s;
	width:100%;
	padding-right:0%; 
	padding-left:0%; 
	padding-top:15px; 
	padding-bottom:15px;
	margin-left:250px;
	min-height:100vh;
}

#openNavButton{
	transition: padding-left .5s;
	padding-left:250px;
}
.sidenav {
    height: 100%;
    width: 250px;
    z-index: 10;
    overflow-x: hidden;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left:0;
    font-size: 36px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}