/*Color classes*/
.bg-red{
	background-color:#d81159 !important;
}
.bg-yellow{
	background-color:#ffbc42 !important;
}
.bg-blue{
	background-color:#0496ff !important;
}
.bg-dark{
	background-color:#006ba6 !important;
}
.bg-purple{
	background-color:#661166 !important;
}
.color-red{
	color:#d81159;
}
.color-yellow{
	color:#ffbc42;
}
.color-blue{
	color:#0496ff;
}
.color-dark{
	color:#006ba6;
}
.color-purple{
	color:#661166;
}

.bodycontainer{
	font-size:16px;
	line-height:1.4;
	margin:0 auto;
	max-width:1800px;
	padding-top:4rem;
	padding-bottom:4rem;
}
@media only screen and (max-width: 1800px) {
  	.bodycontainer{
  		padding-left:4rem;
	}
}
.nav-link{
	font-size:1.25rem;
	color:white;
	border-right:2px solid white;
	flex-basis:10%;
	text-align: center;
}
.nav-link:hover{
	background-color:#ffbc42;
	color:#0496ff;
}
.navbar{
	padding:0;
}
.navpadder{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	flex-grow:1;
}
.bg-primary{
	background-color:#0496ff !important;
}